<!DOCTYPE HTML>
<html>
<head>
    <script type="text/javascript" src="../js/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="../../../../common/js/underscore-1.3.1.min.js"></script>
    <script type="text/javascript" src="../../../../shared/utils.js"></script>
    <script type="text/javascript" src="../../../../common/js/eventListening.js"></script>
    <script type="text/javascript" src="../js/query-string.js"></script>
    <script type="text/javascript" src="../../../../common/js/list-interaction.js"></script>
    <script type="text/javascript" src="../js/menuframe.js"></script>
	<script type="text/javascript" src="../../../../js/Widget.js"></script>

    <link rel="stylesheet" href="../css/menuframe.css"/>
</head>
<!--
    Body begins transparent and is made visible after size is calculated.
    This prevents flicker.
 -->
<body class="transparent">
       <menu id="root"></menu>
</body>
</html>
