<!DOCTYPE HTML>
<html>
<head id="headElement">
    <title></title>
	<style type="text/css">
		body {
			margin: 0;
			padding: 0;
			overflow: hidden;
		}
		iframe {
			border: 0;
		}
	</style>
    <script src="../../../../common/js/common.js"></script>
	<script src="../../../../common/js/dynamic.js"></script>
    <script src="../../../../common/js/navRedirector.js"></script>
    <script src="../../../../js/Widget.js"></script>
    <script src="../js/embedHtmlUI.js"></script>
</head>
<body></body>
</html>