[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/steve/Desktop/coms]
row=5
col=0

[/home/steve/Desktop/commands]
row=6
col=0

[/home/steve/Desktop/newBuildInfo]
row=4
col=0

[/home/steve/Desktop/newfile1]
row=0
col=1

[/home/steve/Desktop/Building]
row=2
col=1

[/home/steve/Desktop/pacman_coms]
row=1
col=1

[27a74a6d-fa37-45d4-864e-cbb524dee329]
row=0
col=0

[Wastebasket]
row=1
col=0

[/]
row=2
col=0

[/home/steve]
row=3
col=0

