html
    head
        script(src='startup.js')
    body
        ul
            li
                a(href='#',onclick='cls') Clear Local Storage
            li
                a(href='#',onclick='go') Launch Extension
            li
                a(href='#',onclick='show') Show This Page?
